main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}
body {
  margin: 0;
}

.card {
  border: 10px solid #19a7ce;
  width: 25rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 5px;
  background-color: white;
}

.card q {
  color: #19a7ce;
  font-size: 1.5rem;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.twitter > i {
  color: #19a7ce;
  font-size: 2rem;
}

.another-quote {
  padding: 0.6rem 2rem;
  color: white;
  background-color: #19a7ce;
  border: none;
  border-radius: 5px;
}


.another-quote:hover {
  cursor: pointer;
}


@media (max-width: 400px) {
  .card {
    gap: 2rem;
    height: 20rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
