main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 10px solid orange;
  width: 25rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
